{% extends 'ex.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        
    </style>
</head>
<body>

    {% block content %}

            <div class="description">
                <div class="descp-design">
                    <h1>Ki kote</h1>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ab? 
                        Quod odio eos quis libero. Iusto quisquam aut officia excepturi necessitatibus
                        
                        quibusdam saepe accusamus cupiditate placeat, aperiam corrupti minus dolores!

                        </p>

                        <button type="submit" class="btn"><a href="">li plis</a></button>
                </div>
            </div>
            

            <div class="container-one">

                <div class="container-job">
    
                    <div class="job-design">   
                        <h3><a href="#">Nou bezwen yon moun nan rezo</a></h3>
                        <p class="name">Maxdev Entrepriz</p>
                        <p>Dat-fen an : 2021-01-22</p>
                    </div> 

                    <div class="job-design">   
                        <h3><a href="#">Nou bezwen yon moun nan rezo</a></h3>
                        <p class="name">Maxdev Entrepriz</p>
                        <p>Dat-fen an : 2021-01-22</p>
                    </div>  

                    <div class="job-design">   
                        <h3><a href="#">Nou bezwen yon moun nan rezo</a></h3>
                        <p class="name">Maxdev Entrepriz</p>
                        <p>Dat-fen an : 2021-01-22</p>
                    </div>  

                    <div class="job-design">   
                        <h3><a href="#">Nou bezwen yon moun nan rezo</a></h3>
                        <p class="name">Maxdev Entrepriz</p>
                        <p>Dat-fen an : 2021-01-22</p>
                    </div>  


                    <div class="job-design">   
                        <h3><a href="#">Nou bezwen yon moun nan rezo</a></h3>
                        <p class="name">Maxdev Entrepriz</p>
                        <p>Dat-fen an : 2021-01-22</p>
                    </div>  

                    <div class="job-design">   
                        <h3><a href="#">Nou bezwen yon moun nan rezo</a></h3>
                        <p class="name">Maxdev Entrepriz</p>
                        <p>Dat-fen an : 2021-01-22</p>
                    </div>  
                </div>


                <div class="container-job">

                    <h1>2</h1>

                </div>

            </div>

        <div class="container-design">
            <div class="design">
                <h4>nos partenaire :</h4>
                <ul>
                    <li>Focus Haiti Media</li>
                    <li>Good Food</li>
                    <li>Vakam Sosyete</li>
                </ul>
                <p><a href="#">politik ak konfidansyalite</a></p>
                <p><a href="#">koman nou ka edew</a></p>
                <p><a href="#">vinn yon partenaire</a></p>

            </div>

            <div class="design">
                <h4>Resous</h4>
                <ul>
                    <li><a href="">Evenement</a></li>
                    <li><a href="#">sevis marketing</a></li> 
                </ul>
                <h4>kominote</h4>
                <li><a href="#">Akatsuki</a></li>
                <li><a href="#">kominote Kripto</a></li>

                <p>&copy;2021 -2022 kikoteayiti.com</p>
            </div>
        </div>

    {% endblock %}
</body>
</html>